{% from 'bootstrap/utils.html' import render_messages, render_static %}
<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <!--Required meta tags-->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        {% block styles %}
            <!--Bootstrap CSS-->
            {{ bootstrap.load_css() }}
            {{ render_static('css', 'theme.css', local=True) }}
        {% endblock %}
            {% if title %}
            <title>{{ title }} - Microblog</title>
            {% else %}
            <title>Welcome to Microblog</title>
            {% endif %}
        {% endblock %}
    </head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar1">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">160Chars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.explore') }}">Explore</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-sm-2">
                {% if current_user.is_anonymous %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.messages') }}">Messages
                        {% set new_messages = current_user.new_messages() %}
                        {% if new_messages %}
                        <span id="message_count" class="badge badge-dark"
                        style="visibility: {% if new_messages %}visible
                                            {% else %}hidden {% endif %};">
                        {{ new_messages }}</span>
                        {% endif %}
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% endif %}
                </ul>
                {% if g.search_form %}
                <form class="form-inline my-2 my-lg-2" method="get" action="{{ url_for('main.search') }}">
                    <input class={{ g.search_form.q(size=20, class='form-control mr-sm-2',
                                    placeholder=g.search_form.q.label.text) }}
                    >
                </form>
                {% endif %}
            </div>
    </nav>
    {% endblock %}

    <main class="container-fluid pt-5">
        {{ render_messages(container=False, dismissible=True,
            dismiss_animate=True) }}
{% block content %}
    <div class="container">
        {% if current_user.is_authenticated %}
        {% with tasks = current_user.get_tasks_in_progress() %}
        {% if tasks %}
            {% for task in tasks %}
            <div class="alert alert-success" role="alert">
            {{ task.description }}
            <span id="{{ task.id }}-progress">{{ taks.get_rpgoress() }}</span>%
    </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% endif %}
{% endblock %}
    </main>



    {% block scripts %}
        <!--Optional JS-->
        {{ bootstrap.load_js() }}
        {{ render_static('js', 'custom.js', local=True) }}
        {{ moment.include_moment() }}
    <script>
        function set_task_progress(task_id, progress) {
            $('#' + task_id + '-progress').text(progress);
        }
        {% if current_user.is_authenticated %}
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            switch (notifications[i].name) {
                                case 'unread_message_count':
                                    set_message_count(notifications[i].data);
                                    break;
                                case 'task_progress':
                                    set_task_progress(notifications[i].data.task.id,
                                        notifications[i].data.progress);
                                    break;
                            }
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
    </script>    
    {% endblock %}
    </body>
</html>
